@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "Okta Neue";
        src: url('/public/OktaNeue-Normal.woff') format("woff");
    }
    @font-face {
        font-family: "Okta Neue";
        font-weight: 800;
        font-style: italic;
        src: url('/public/OktaNeue-HeavyItalic.woff') format('woff');
    }
    @font-face {
        font-family: "Okta Neue";
        font-weight: 600;
        src: url('/public/OktaNeue-SemiBold.woff') format('woff');
    }
}