<div class="h-24 bg-secondary-200">
  <div class="absolute inset-x-0 bottom-0 flex justify-center">
    <span class="text-xs font-medium text-snow-100">
      © 2023 made with ☕ by Sander
    </span>
  </div>
</div>
