---
import Logo from "../../public/logo.svg"
---
<div class="flex items-center bg-night-100 border-b-2">
  <div
    class="ml-10 p-8"
  >
    <span class="font-semibold text-primary-300 text-2xl">Sander</span>
    <span class="font-semibold text-secondary-300 text-2xl">Zuchinalli</span>
  </div>
</div>
