<div class="flex h-24 items-center bg-primary-100">
  <div
    class="ml-10 flex h-12 w-12 items-center justify-center rounded-full bg-snow-100 align-middle"
  >
    <span class="text-4xl font-extrabold italic text-primary-300">S</span>
  </div>
</div>
