<div class="flex items-center h-24 bg-primary-100">
    <div class="ml-10 flex justify-center items-center w-12 h-12 rounded-full align-middle bg-snow-100">
        <span class="pt-2 font-extrabold italic text-4xl text-primary-300">S</span>
    </div>
</div>