---
import Logo from "../../public/logo.svg"
---
<div class="flex h-24 items-center bg-primary-100 border-b-2">
  <div
    class="ml-10"
  >
    <img
        src={Logo}
        style="width: 4rem; height: 4rem;"
        alt="sanders picture"
    />
  </div>
</div>
